/* 公共搜索框样式 */
.lt_main .search {
  padding: 10px;
  position: relative;

}
.lt_main .search input{
  height: 34px;
  border-radius: 5px;
  border: 1px solid #007AFF;
  padding-right: 54px;
  font-size: 12px;
}
.lt_main .search button{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
/* 搜索列表页样式 */
.lt_main .sortNav li{
 width: 25%;
 float: left;
 background-color: #eee;
 height: 30px;;
}
.lt_main .sortNav li.current a{
  color:orange;
}
.lt_main .sortNav li a{
  display: block;
  font-size: 12px;
  color:#666;
  text-align: center;
  line-height: 30px;
}
/* 搜索中心的样式 */
.lt_main .title{
  font-size: 12px;
  padding: 0 10px;
  color:#666;
}
.lt_main .history{
  padding: 10px;

}
.lt_main .history ul{
  border:1px dashed red;
}
.lt_main .history li{
  border-bottom: 1px dashed red;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.lt_main .history li:last-child{
  border: none;
}
.lt_main .history li a{
  display: block;
  font-size: 12px;
 
}


